html, body {
  margin: 0;
  font-family:Lato;
  /* -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
  background-image: linear-gradient(#010934,#d873ae);
  height: 100%;
}

code {
  font-family: Lato
}
