.header-container {
    text-align: center;
    padding-top: 1%;
    padding-bottom: 1%;
    font: 35px bold;
    color: #EFF8E2;
    font-family: Lato;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.welcome-btn-container {
    margin: 5%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.webcam-container {
    display: "flex";
    justify-content: "center";
    align-items: "center";
    flex-direction: "column";
    margin-top: 35px;
}

.webcam {
    /* display: flex;
    flex-direction: column; */
    margin-top: 85px;

}

.btn {
    background-color: #6F4E8F;
    border: 10px solid #303657;
    border-radius: 100px;
    padding: 30px;
    font-family: Lato;
    font-size: 25px;
}

.btn:hover {
    background-color: #654288;
    border: 10px solid #303657;
    padding: 30px;
    cursor: pointer;
}

.overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    color: #fff;
    text-align: center;
}
