.header-container {
    text-align: center;
    padding-top: 1%;
    padding-bottom: 1%;
    font: 35px bold;
    color: #EFF8E2;
    font-family: Lato;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.welcome-btn-container {
    margin: 5%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.webcam-container {
    display: "flex";
    justify-content: "center";
    align-items: "center";
    flex-direction: "column";
    margin-top: 35px;
}

.webcam {
    margin-top: 85px;
    position: relative;
}

.btn {
    background-color: #6F4E8F;
    border: 10px solid #303657;
    border-radius: 100px;
    padding: 30px;
    font-family: Lato;
    font-size: 25px;
}

.btn:hover {
    background-color: #654288;
    border: 10px solid #303657;
    padding: 30px;
    cursor: pointer;
}

.overlay {
    position: absolute;
    top: 1;
    right: 0;
    bottom: 0;
    left: 0;
    color: #fff;
    text-align: center;
}

.result-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
    background-color: #000000;
    opacity: 0.5;
    border: 1px solid #bdbdbd;
}

.result-text {
    color: #ffffff;
    padding-left: 5%;
    padding-right: 5%;
    text-align: center;
    font-size: 20px;
}

.modal-container {
    opacity: 0.8;
    background-color: #a4a4a4;
    border: 1px solid black;
    position: absolute;
    z-index: 2;
    width: 40%;
    display: flex;
    margin-left: 2%;
    padding: 10px;
    text-align: center;
    font-size: 20px;
}

.text-to-speech-icon {
    cursor: pointer;
    padding: 15px;
    display: flex;
    align-items: center
}